.navBar{
  background-color: rgba(0, 0, 0, 0.866);
  color: gold;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navBar h1{
  margin: 15px;
}

.navBar button{
  color: black;
  border-radius: 20px;
  padding: 5px;
}

.navBar button:hover{
  transform: scale(1.1);
}